Erik Carlßon <ecarlsson@techfak.uni-bielefeld.de>
Lukas Middelberg <lmiddelberg@techfak.uni-bielefeld.de> <lukas@montemedio.de>
Maximilian Martini <mmartini@techfak.uni-bielefeld.de> Max <Maximilian.Martini@uni-bielefeld.de>
Michael Peresada <mperesada@techfak.uni-bielefeld.de>
caschneider <caschneider@techfak.uni-bielefeld.de>
fniemeyer <fniemeyer@techfak.uni-bielefeld.de> <fniemeyer@techfak.uni-bielfeld.de> 
fniemeyer <fniemeyer@techfak.uni-bielefeld.de> <franziska.niemeyer@uni-bielefeld.de>
lbrockmann <lbrockmann@techfak.de>
lkrueger <lkrueger@techfak.uni-bielefeld.de>
root <root@se.techfak.de>
